/* Top Banner */
.top-banner-container {
    background: linear-gradient(90.85deg, #0f0e14 0.63%, #130e2c 99.22%);
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    color: white;
    margin-bottom: 40px;
    padding-top: 30px;
}
button {
    border: none;
}

.top-banner-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.top-banner-heading,
.top-banner-price {
    font-family: Poppins;
    font-size: 2.5rem;
    font-weight: 700;
}
.top-banner-heading:first-child {
    color: rgba(255, 185, 0, 1);
}
.top-banner-price > span:nth-child(2) {
    color: Green;
    margin-left: 10px;
}
.top-banner-price > span:first-child {
    text-decoration: line-through;
}
.top-banner-button {
    padding: 18px 7px;
    border-radius: 8px;
    background: rgba(255, 185, 0, 1);
    box-shadow: 0px 11px 36px 0px rgba(255, 185, 0, 0.24);
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    width: 297px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-align: center;
    color: rgba(14, 58, 94, 1);
}

.top-banner-image-container {
    width: 80%;
    position: relative;
}
.top-banner-image-container > img {
    width: 90%;
    height: 100%;
}
.top-banner-weight-loss > img {
    z-index: 11;
    position: relative;
    bottom: 43px;
    height: 200%;
    transform: rotate(339deg);
}
.top-banner-weight-loss {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 34%;
    height: 85.88px;
    border-radius: 16px;
    background: white;
    font-family: Poppins;
    font-weight: 500;
    line-height: 27.5px;
    text-align: left;
    color: rgba(14, 58, 94, 1);
}
.top-banner-weight-loss > div {
    margin: auto;
    margin-right: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.top-banner-weight-loss > div > b,
.top-banner-weight-loss > div > span {
    color: rgba(14, 58, 94, 1);
    font-family: Poppins;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 27.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.top-banner-weight-loss > div > span {
    font-weight: 500;
}
.top-banner-weight-loss > div > b > span {
    color: rgba(53, 195, 89, 1);
    font-family: Poppins;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
@media screen and (max-width: 1200px) {
    .top-banner-heading,
    .top-banner-price {
        font-size: 2rem;
    }
    .top-banner-weight-loss > div > b,
    .top-banner-weight-loss > div > span {
        font-size: 1rem;
        line-height: 10px;
    }
    .top-banner-weight-loss {
        height: 59.88px;
    }
    .top-banner-weight-loss > img {
        bottom: 30px;
    }
}
@media screen and (max-width: 940px) {
    .top-banner-heading,
    .top-banner-price {
        font-size: 1.5rem;
    }
    .top-banner-weight-loss > div > b,
    .top-banner-weight-loss > div > span {
        font-size: 0.8rem;
    }
    .top-banner-weight-loss {
        height: 50.88px;
        line-height: 0px;
    }
    .top-banner-weight-loss > img {
        bottom: 30px;
    }
    .top-banner-button {
        padding: 5px 7px;
        width: 191px;
        font-size: 11px;
    }
}
@media screen and (max-width: 705px) {
    .top-banner-heading,
    .top-banner-price {
        font-size: 1.2rem;
    }
    .top-banner-weight-loss > div > b,
    .top-banner-weight-loss > div > span {
        font-size: 0.6rem;
    }
    .top-banner-weight-loss {
        border-radius: 8px;
        height: 50.88px;
        line-height: 0px;
    }
    .top-banner-weight-loss > img {
        bottom: 30px;
    }
    .top-banner-button {
        padding: 3px 5px;
        width: 160px;
        font-size: 11px;
    }
}
@media screen and (max-width: 608px) {
    .top-banner-heading,
    .top-banner-price {
        text-align: center;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }
    .top-banner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top-banner-button,
    .top-banner-price {
        display: none;
    }
    .top-banner-image-container {
        width: 80%;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .weight-loss-container button,
    .weight-loss-brand-container button,
    #healthCare-advisors-container button {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .top-banner-weight-loss {
        left: 40%;
        height: 40px;
    }
    .top-banner-weight-loss > img {
        bottom: 21px;
    }
}

/* BMI calculator */
.bmi-calculator-container {
    margin: auto;
    width: 70%;
    height: 40%;
    box-sizing: border-box;
}
.bmi-calculator-container > .header > div {
    color: #0e3a5e;
    font-weight: 700;
    font-family: "Poppins", serif;
    padding: 20px 52px;
    cursor: pointer;
    border-radius: 24px 24px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}
.bmi-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bmi-result > span:nth-child(2) {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.bmi-result > button {
    background: rgba(14, 58, 94, 1);
    padding: 14px 84px;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 20px;
    color: rgba(255, 255, 255, 1);
}
.bmi-result > span:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.bmi-result > span:first-child > span {
    color: rgba(255, 185, 0, 1);
}
.bmi-calculator-container > .header {
    position: relative;
}
.bmi-calculator-container > .header > div:first-child {
    border-radius: 24px 24px 0px 0px;
    opacity: 1;
    border: 4px solid #f4f2ef;
    border-bottom: 0px;
    background: #ffffff;
}
.bmi-calculator-container > .header > div:last-child {
    background: #fffaeb;
    width: 194px;
    gap: 0;
    border-radius: 0px 24px 0px 0px;
    opacity: 0px;
    position: absolute;
    left: 274px;
    z-index: -1;
    height: 42%;
}
.bmi-calculator-container > .header {
    display: flex;
}
.bmi-calculator-container > div:last-child {
    border: 4px solid #f4f2ef;
    height: 372px;
    border-radius: 0px 24px 24px 24px;
    border: 4px 0px 0px 0px;
    opacity: 0px;
}
.bmi-calculator-container > .bmi-calculator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.bmi-calculator-container > .bmi-calculator > div > div {
    display: flex;
    justify-content: space-between;
}
.bmi-calculator-container > .bmi-calculator > div > div > span:first-child {
    color: #0e3a5e;
    font-size: 1.1rem;
}
.bmi-calculator-container > .bmi-calculator > div > div > span:last-child > span:first-child {
    color: #0e3a5e;
    font-weight: 700;
    font-size: 1.32rem;
    font-family: "Poppins", serif;
    text-decoration: underline;
    text-decoration-color: #cac4b7;
    margin-right: 10px;
}
.bmi-calculator-container > .bmi-calculator > div > div > span:last-child > span:last-child {
    color: #797764;
}
.bmi-calculator-container > .bmi-calculator > div {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px 6%;
}
.bmi-calculator-container > .bmi-calculator > div > .range {
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    color: #cac4b7;
    margin-bottom: 15px;
}
.range-drag-text {
    color: #cac4b7;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.bmi-chart > div {
    color: #797764;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.bmi-chart > div > span:first-child {
    font-weight: 600;
}

/* facilities css */

.facilities-container {
    display: flex;
    margin: 20px auto;
    width: 70%;
    justify-content: space-around;
}

.facilities-container > .facilities-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    min-width: 112px;
}
.facilities-container > .facilities-content > img {
    width: 30%;
}
.facilities-container > .facilities-content > p {
    font-weight: 500;
    color: #0e3a5e;
    font-family: Poppins;
    font-size: 0.8rem;
    width: 80%;
}
.facilities-content {
    width: 300px;
}

@media screen and (max-width: 1000px) {
    .facilities-container {
        width: 90%;
    }
    .facilities-container > .facilities-content {
        min-width: 112px;
    }
}
@media screen and (max-width: 700px) {
    .facilities-container {
        width: 100%;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .facilities-container::-webkit-scrollbar {
        display: none; /* Hides scrollbar for WebKit browsers */
    }
}

/* WeightLossProgram */

.weight-loss-container {
    margin: 4% auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weight-loss-heading,
.weight-loss-brand-heading {
    margin: auto;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: #0e3a5e;
    font-size: 1.98rem;
    margin-bottom: 20px;
}
.weight-loss-flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.weight-loss-header {
    position: relative;
    display: flex;
    justify-content: end;
    font-weight: 700;
}
.weight-loss-header > p {
    text-align: center;
    width: 25%;
}
.weight-loss-header-text-pharmacy {
    color: #0e3a5e;
}
.weight-loss-header-text-valeo {
    background: linear-gradient(180deg, #ffb900 0%, #c49928 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.weight-loss-row {
    margin-top: 10px;
    display: flex;
    padding: 10px 0px;
    justify-content: space-around;
    align-items: center;
    z-index: -1;
    min-height: 100px;
}
.weight-loss-row-text {
    color: rgba(14, 58, 94, 1);
    font-weight: 500;
    width: 30%;
    font-size: 1rem;
    z-index: 1;
}
.weight-loss-row:nth-child(odd) {
    background: #f4f2ef;
    border-radius: 24px;
}
.weight-loss-row-check {
    color: white !important;
}
.weight-loss-row > img {
    z-index: 111;
}
.weight-loss-button {
    background: rgba(255, 185, 0, 1);
    box-shadow: 0px 11px 36px 0px rgba(255, 185, 0, 0.24);
    color: rgba(14, 58, 94, 1);
    border-radius: 8px;
    padding: 20px 80px;
    font-weight: 700;
    cursor: pointer;
    margin: 70px auto;
}
.weight-loss-column-text {
    position: relative;
    margin-top: 30px;
}
.box {
    min-width: 80px;
    height: 100%;
    top: -20px;
    right: 5%;
    background: #ffffff;
    position: absolute;
    z-index: 0;
    box-shadow: 0px 5px 5px 0px rgba(224, 228, 238, 0.5);
    border-radius: 16px;
    flex-shrink: 0;
}
.weight-loss-column {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .brands-flex {
        overflow: scroll;
        -ms-overflow-style: none;
        width: 100%;
    }
    .brands-flex::-webkit-scrollbar {
        display: none;
    }
    .weight-loss-brand-heading {
        font-size: 1.4rem;
    }
    .weight-loss-row-text {
        width: 40%;
    }
    .weight-loss-container {
        width: 90%;
    }
}
@media screen and (max-width: 1000px) {
    .weight-loss-row-text {
        font-size: 1rem;
    }
}
@media screen and (max-width: 900px) {
    .weight-loss-flex > .weight-loss-column:last-child .weight-loss-header,
    .weight-loss-flex > .weight-loss-column:last-child .box {
        display: none;
    }
    .weight-loss-flex {
        flex-direction: column;
        justify-content: flex-start;
        gap: 0px;
    }
    .weight-loss-row {
        padding: 0px;
    }
    .box {
        height: 208%;
        z-index: 1;
    }
    .weight-loss-flex > .weight-loss-column:last-child .weight-loss-column-text {
        margin-top: 0px;
    }
}
@media screen and (max-width: 563px) {
    .weight-loss-brand-heading {
        font-size: 1rem;
        line-height: 30px;
    }
    .weight-loss-button {
        padding: 20px 40px;
    }
    .weight-loss-heading {
        font-size: 1.5rem;
    }
    .weight-loss-row-text {
        font-size: 0.8rem;
    }
    .box {
        min-width: 15%;
    }
}

/* global result css */

.global-result-container {
    margin: auto;
    width: 70%;
    display: flex;
    position: relative;
}
#line {
    display: flex;
    top: 29px;
    height: 77%;
    background: var(--Primary-yellow, #ffb900);
    margin: 20px 0px;
    position: absolute;
    width: 2.289px;
    flex-shrink: 0;
    right: 764px;
}
.global-result-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 10px;
}
.result-card {
    width: 40%;
    height: 120px;
    padding: 20px;
    background: rgba(255, 250, 235, 1);
    border-radius: 16px;
    box-sizing: border-box;
}
.result-card-content {
    display: flex;
    gap: 20px;
}
.result-card-content > span > .result-card-icon {
    border: 3px solid rgba(14, 58, 94, 1);
    border-radius: 8px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result-value {
    color: rgba(255, 185, 0, 1);
    font-size: 1.4rem;
    font-weight: 700;
}
.result-description {
    color: rgba(121, 119, 100, 1);
    font-size: 1.2rem;
}
.result-card-content > span {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
@media screen and (max-width: 1200px) {
    .global-result-container {
        width: 90%;
    }
}
@media screen and (max-width: 1000px) {
    .global-result-container {
        width: 100%;
    }
}
@media screen and (max-width: 859px) {
    .global-result-container {
        width: 100%;
    }
    .result-card {
        width: 90%;
    }
    .result-card-content {
        justify-content: flex-start;
    }
    .result-card-content > span > .result-card-icon {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: rgba(14, 58, 94, 1);
    }
}
@media screen and (max-width: 395px) {
    .result-value {
        font-size: 1rem;
    }
    .result-description {
        font-size: 0.8rem;
    }
}
/* weight loss brand */
.weight-loss-brand-container {
    margin: 30px auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.brands-flex {
    display: flex;
    gap: 10px;
    width: 100%;
}
.brand-image {
    width: 229px;
    height: 229px;
}
.brand-name {
    color: rgba(14, 58, 94, 1);
    font-weight: 600;
    line-height: 10px;
    margin: 20px 0px;
}

.brand-description {
    color: rgba(121, 119, 100, 1);
    line-height: 24px;
}

/* Healthcare Adviseors */

#healthCare-advisors-container {
    margin: 40px auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#healthCare-advisors-container > h2 {
    color: rgba(14, 58, 94, 1);
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#healthCare-advisors-container > h3 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    color: rgba(121, 119, 100, 1);
    text-decoration-skip-ink: none;
}
#healthCare-advisiors {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}
.healthCare-advisor > img {
    width: 245px;
    height: 245px;
    border-radius: 24px;
}
.healthCare-advisor > h3 {
    margin: 5px 0px;
    color: rgba(14, 58, 94, 1);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.healthCare-advisor > p {
    margin: 5px 0px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(14, 58, 94, 1);
}
.rating {
    display: flex;
    gap: 5px;
    align-items: center;
}
.rating > span:nth-child(2) {
    font-weight: 700;
    color: rgba(14, 58, 94, 1);
}
.rating > span:nth-child(3) {
    color: rgba(121, 119, 100, 1);
}
.consultations {
    display: flex;
    align-items: center;
    margin-top: 10px;
    border: 2px solid rgba(244, 242, 239, 1);
    border-radius: 8px;
}
.consultations > span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.consultations > span:first-child {
    border: 0px;
    border-right: 2px solid rgba(244, 242, 239, 1);
}
.consultations > span > span:first-child {
    color: rgba(121, 119, 100, 1);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 10px 20px;
}
.consultations > span > span:last-child {
    color: rgba(182, 136, 255, 1);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.consultations > span > span {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1040px) {
    #healthCare-advisiors {
        overflow: scroll;
        -ms-overflow-style: none;
        width: 100%;
    }
    #healthCare-advisiors::-webkit-scrollbar {
        display: none;
    }
}
@media screen and (max-width: 802px) {
    #healthCare-advisors-container > h2 {
        font-size: 1.5em;
    }
    #healthCare-advisors-container > h3 {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 487px) {
    #healthCare-advisors-container > h2 {
        line-height: 30px;
    }
    #healthCare-advisors-container > h2 {
        font-size: 1.3em;
    }
    #healthCare-advisors-container > h3 {
        font-size: 1em;
    }
}

/* valeo-program-testimonial */

.valeo-program-testimonial {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.valeo-program-testimonial > h1 {
    text-align: center;
    color: rgba(14, 58, 94, 1);
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 700;
    line-height: 50px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.valeo-program-testimonial > video {
    border-radius: 16px;
    margin: 20px auto;
    width: 100%;
}
#easyToSteps {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.easy-to-step {
    padding: 8px;
    width: 47%;
    min-height: 140px;
    display: flex;
    background: rgba(255, 250, 235, 1);
    border-radius: 16px;
    align-items: center;
}

.easy-to-step > div:first-child > span {
    background: rgba(255, 185, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 100%;
    height: 50px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 50px;
}
.stepsDetails > h2 {
    color: rgba(14, 58, 94, 1);
    font-family: Poppins;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.stepsDetails > p {
    color: rgba(121, 119, 100, 1);
    font-family: Poppins;
    font-size: 1em;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#easyToStepUI {
    display: flex;
    justify-content: space-around;
}
#easyToStepUI > span {
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 700;
    line-height: 50px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 50%;
    justify-content: center;
}

#easyToStepUI > span > span:first-child {
    color: rgba(255, 185, 0, 1);
}

#easyToStepUI > span > span:last-child {
    color: rgba(14, 58, 94, 1);
}

@media screen and (max-width: 1200px) {
    .stepsDetails > h2 {
        font-size: 1em;
    }
    .stepsDetails > p {
        font-size: 0.8em;
        line-height: 1rem;
    }
    .easy-to-step > div:first-child > span {
        font-size: 20px;
        padding: 0%;
        margin: 10px;
    }

    .valeo-program-testimonial {
        width: 90%;
    }
}
@media screen and (max-width: 767px) {
    .easy-to-step {
        width: 100%;
    }

    button {
        border: none;
    }
}
@media screen and (max-width: 591px) {
    #easyToStepUI > span {
        font-size: 1.2rem;
        line-height: 30px;
    }
    #easyToStepUI > img {
        width: 50%;
    }
    .stepsDetails > h2 {
        line-height: 20px;
    }
}
/* SuccessStories */

#successStories {
    margin: 20px auto;
    width: 70%;
}
#successStories > h2 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(14, 58, 94, 1);
    text-align: center;
    margin: 40px 0px;
}

#imgContainer {
    display: flex;
    gap: 5px;
}
#imgContainer > img:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#imgContainer > img:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#imgPreview {
    display: flex;
    position: relative;
}
#imgPreviewContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
    -ms-overflow-style: none;
    width: 100%;
}
#imgPreviewContainer::-webkit-scrollbar {
    display: none;
}
#details {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 20px;
}
#details > span {
    display: flex;
    justify-content: center;
    align-items: center;
}
#details > span:first-child {
    width: 29%;
    height: 44px;
    background: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: rgba(14, 58, 94, 1);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#details > span:last-child {
    width: 29%;
    height: 44px;
    background: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: rgba(14, 58, 94, 1);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#details > span:nth-child(2) {
    border-radius: 8px;
    background: rgba(14, 58, 94, 1);
    display: flex;
    flex-direction: column;
    width: 40%;
    color: white;
}
#details > span:nth-child(2) > span:first-child {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 275;
    line-height: 12.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}
#rating {
    display: flex;
    margin: 20px 0px auto;
    width: 50%;
}
#reviewContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#review {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#desc {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(14, 58, 94, 1);
    line-height: 20px;
    width: 80%;
}
#nameLocation {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    gap: 10px;
    display: flex;
}
#nameLocation > span:last-child {
    color: rgba(121, 119, 100, 1);
}

#nameLocation > span:first-child {
    color: rgba(14, 58, 94, 1);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#successStoriesReview {
    margin: 0px 10px;
}
/* faq section */

#faq {
    margin: 50px auto;
    width: 70%;
}
#faq > h1 {
    font-family: Poppins;
    font-size: 2em;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(50, 68, 91, 1);
}

#faqQuestion > details > summary {
    display: flex;
    justify-content: space-between;
}

#faqQuestion > details > ul > li {
    list-style-type: numbers;
    margin-left: 20px;
}
#faqQuestion > details > summary > span {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(50, 68, 91, 1);
}
#faqQuestion > details > p {
    font-family: Poppins;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(50, 68, 91, 1);
}
#faqQuestion > details > ul > li {
    color: rgba(50, 68, 91, 1);
    font-size: 20px;
}
@media screen and (max-width: 844px) {
    #faq {
        width: 90%;
    }
    #faqQuestion > details > p {
        font-size: 1.1em;
    }
    #faqQuestion > details > ul > li {
        font-size: 1.1em;
    }
    #faqQuestion > details > summary > span {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 527px) {
    #faq > h1 {
        font-size: 1.5em;
    }
    #faqQuestion > details > p {
        font-size: 0.8em;
    }
    #faqQuestion > details > ul > li {
        font-size: 0.8em;
    }
    #faqQuestion > details > summary > span {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 387px) {
    #faq > h1 {
        font-size: 1.5em;
        line-height: 26px;
        margin-bottom: 20px;
    }
}
